<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.pro.myrp.util.authentication.UserDAO">

	<select id="login" parameterType="java.util.Map" resultType="UserVO">
		<![CDATA[
		SELECT  E.employee_id, E.employee_name, D.access_role
		FROM	employee E, department D
		WHERE	E.dept_id = D.dept_id
		AND		E.employee_id = #{employee_id}
		AND		E.employee_name = #{employee_name}
		]]>
	</select>

	<!-- 퇴사자 정보 확인 -->
	<select id="select_retired_employee" parameterType="int"
	resultType="Retired_EmployeeDTO">
		<![CDATA[
		SELECT	E.employee_id, E.employee_name, E.dept_id,
				E.hr_code_group_rank, E.rank_code, 
				E.join_date, RE.retired_date, RE.retired_reason
		FROM	retired_employee RE , employee E
		WHERE	RE.employee_id = E.employee_id
		AND		E.employee_id = #{employee_id}
		ORDER BY RE.retired_date DESC
		]]>
	</select>

</mapper>